In [1]:
from numpy import random

x = random.normal(size=(2, 3))

print(x)

[[ 0.99421795  0.05630156 -0.1620629 ]
 [ 1.46834546  0.01714682 -1.04429181]]

In [3]:
import pandas as pd

In [4]:
data_frame = pd.DataFrame(data=x)

In [5]:
data_frame.to_csv('data.csv')

In [6]:
d = pd.read_csv('data.csv')

In [7]:
d

   Unnamed: 0         0         1         2
0           0  0.994218  0.056302 -0.162063
1           1  1.468345  0.017147 -1.044292