In [23]:
import scipy
from scipy import stats

In [24]:
df = {'observe': [41,70],'expected': [33,67]}
df1 = pd.DataFrame(df)

In [25]:
df1

   observe  expected
0       41        33
1       70        67

In [26]:
df1['dev'] = df1['observe']-df1['expected']

In [27]:
chi = sum((df1['dev']**2)/df1['expected'])

In [28]:
chi

2.073722297602895

In [29]:
p_value = scipy.stats.chi2.ppf(0.5,1)

In [30]:
if p_value < 0.05:
    print('P value is' , p_value)
    print()
    print('since p is less than alpha we reject the null hypothesis')
else:
    print('p value is', p_value)
    print()
    print('since p is more than alpha, we ccept the null hypothesis')

p value is 0.454936423119572

since p is more than alpha, we ccept the null hypothesis